header{
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  margin: 1px;
  font-size: 35px;
}
footer{
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  margin: 1px;
  font-size: 35px;
  clear: both;
}
footer a{
  color: purple;
}
div{
  display: inline-block;
  height: 80%;
  width: 33%;
  box-sizing: border-box;
  text-align: center: 20px;
  padding: 20px;
  overflow: hidden;
  float: left;
}
#caja1{
  border-left: 1px solid black;
  height: 80vh;
}
#caja2{
border-left:  1px solid black;
border-right:  1px solid black;
height: 80vh;
}
#caja3{
border-right: 1px solid black;
height: 80vh;
border-right: 1px solid black;
}
.div_padre{
  height: 400%;
  width:  100%;
  background-color: white;
}
#img1{

}
#img2{

}
body{
  padding: 10px 10px;
  border: 1px solid black;
}
